$layout-breakpoint-medium: 1300px;
$layout-breakpoint-small: 820px;

html,
body {
  background-color: #fffefb;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
#app {
  font-family: "Source Sans Pro";
  font-style: normal;
  margin: 0 32px;
}

.layout_container {
  display: flex;
}

.item_container {
  grid-gap: 16px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  }

.header {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.fade-move,
.fade-enter-active,
.fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}
.fade-leave-active {
  position: absolute;

}
@media (max-width: $layout-breakpoint-medium) { .item_container {
  grid-gap: 16px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  }
}

@media (max-width: $layout-breakpoint-small) { .item_container {
  grid-gap: 16px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  }
  .layout_container {
    display: flex;
    flex-direction: column;
  }
}