$text-color: #3f3f3f;

.item {
  display: inline-block;
  position: relative;
  width: 332px;
  line-height: 1.25;
  color: grey;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0px 20px 30px rgb(0 0 0 / 4%), 0px 6px 10px rgb(0 0 0 / 2%);

  &:hover > &_remove {
    opacity: 1;
  }

  &_remove {
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    transition: 0.2s opacity ease, 0.2s visibility ease;
  }

  &_wrapper {
    position: relative;
    flex: 1;
    width: 100%;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    padding-bottom: 60.2409638554%;
    overflow: hidden;
  }

  &_card {
    position: absolute;
    width: 100%;
    height: 100%;
    width: 332px;
    height: 200px;
  }

  &_info {
    background: #fffefb;
    border-radius: 4px;
    padding: 1rem;
    padding-bottom: 1.5rem;
    height: 200px;
    word-wrap: break-word;
    cursor: default;
  }

  &_title {
    color: $text-color;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 1rem;
  }

  &_description {
    color: $text-color;
    font-weight: 400;
    line-height: 1.25;
    margin: 0;
    margin-bottom: 2rem;
  }

  &_price {
    color: $text-color;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
